<!DOCTYPE html>
<html lang="en">
  <head>
    <title>osmos::feed</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="robots" content="noindex, nofollow" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link href="index.css" rel="stylesheet" />
  </head>

  <body>
    <!-- =============================================
        ニュースフィーダー部分
    ============================================= -->
    <div class="news__unit swiper-container">
      <div class="news__unit_inner swiper-wrapper">
        {{#each dates}}
        <div class="news__unit_item swiper-slide">
          <div class="news__unit_item_date">{{isoPublishDate}}</div>
          {{#each articles}}
          <div class="news__unit_item_body">
            <div class="news__unit_item_body_ttl"><a href="{{link}}" rel="nofollow noopener noreferrer" target="_blank">{{title}}</a></div>
            <div class="news__unit_item_body_src">Source: <a href="{{source.siteUrl}}" rel="nofollow noopener noreferrer" target="_blank">{{source.title}}</a></div>
          </div>
          {{/each}}
        </div>
        {{/each}}
      </div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
    <!-- =============================================
        ニュースフィーダー部分
    ============================================= -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="index.js"></script>
  </body>
</html>
