<!DOCTYPE html>
<html lang="en">
  <head>
    <title>●●●●タイトル●●●●</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="robots" content="noindex, nofollow" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <link href="index.css" rel="stylesheet" />
  </head>

  <body>
    <ul>
      {{#each dates}}
      <!-- 日付データの数だけ繰り返し -->
      <li>
        <section>
          <div>{{isoPublishDate}}</div>

          {{#each articles}}
          <article>
            <div><a href="{{link}}">{{title}}</a></div>
            <div>
              <span>Source: <a href="{{source.siteUrl}}">{{source.title}}</a></span>
            </div>
            <p>{{description}}</p>
          </article>
          {{/each}}
        </section>
      </li>
      {{/each}}
      <!-- 日付データの数だけ繰り返し -->
    </ul>
    <script src="index.js"></script>
  </body>
</html>
